.app_title {
    padding: 15px 5px 10px 5px;
}

.sidebar_width {
    min-width: 300px;
}

.sidebar_hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(255,255,255,1);
}

.location_list {
    padding: 3px 5px 5px 5px;
}

.iw_title {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 4px;
    margin-bottom: 10px;
}

.info-window-category {
    font-size: 1em;
    vertical-align: super;
    font-weight: 800;

}

.padding-zero {
    padding: 0 0 0 0;
}

.padding-sides-10 {
    padding: 0 10px 0 10px;
}

.map_error {
    color: white;
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}

.place-icon {
    width: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.mdl-layout__drawer {
    width: 400px;
    left: -250px;
    border-right: none;
    overflow: hidden;

}

.mdl-layout__drawer.is-visible {
    left: 0;
}

.mdl-layout__header {
    background-color: #397af2;
}

.search {
    font-size: 1.1em;
    height: 50px;
    padding: 14px;
    border-width: 1px;
    border-radius: 4px;

    width: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
    display: inline-block;
    margin: 15px 20px;

}

.search:focus {
    outline: none;
}

@media (max-width: 768px) {
    .search {
        font-size: .7em;
        margin-top: 5px;
    }
}

.search-holder {
    background-color: #397af2;
    display: flex;
    justify-content: center;
    align-items: baseline;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.mdl-layout__obfuscator {
    visibility: hidden !important;
}

.close-nav {
    margin: auto;
    background-color: transparent;
    color: white;
    font-size: 1.7em;
    vertical-align: middle;
}

.nav-item {
    height: 50px;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    align-items: center;
}

.nav {
    padding: 0;
    margin: 0;
    overflow: auto;
    height: calc(100vh - 150px);
}

.mdl-navigation {
    padding: 0 !important;
    overflow: visible;
    margin-top: 80px;
}

.nav-item {
    border-bottom: 1px solid #e6e6e6;
}

.nav-item:hover {
    background-color: #f3f3f3;
}


.place-details {
    width: 0;
    height: calc(100vh - 80px);
    display: flex;
    z-index: 1;
    transition: 0.01s;
    position: fixed;
    bottom: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    overflow: auto;

}

.place-image {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 14px;

}

.flickr-image-search-error, .flickr-no-images{
    margin-top: 20px;
    font-size: 16px;
    padding: 17px;
    text-align: center;
    color: gray;
    border-bottom: 1px solid #80808033;
}

span.like {
    flex-grow: 1;
    align-items: center;
    display: flex;
}

i.like {
    margin-left: 10px;
    font-size: 23px;
    float: right;
}

i.like:hover {
    cursor: pointer;
}

i.like-disabled {
    color: #bababa;
}

i.liked {
    color: #d90020;
}

.place-title {
    font-size: 1.35em;
    font-weight: 400;
    color: white;
    margin-bottom: 2px;

}

.place-basic-info {
    background: #397af2;
    width: 100%;
    padding: 1px 28px 28px;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid #80808033;
}

.place-extra-info {
    box-sizing: border-box;
    border-bottom: 1px solid #80808033;
    width: 100%;
}

.place-address {
    margin-bottom: 0;
    font-size: .95em;
}

.place-details-foursquare-error {
    margin-top: 20px;
    font-size: 16px;
    padding: 17px;
    text-align: center;
    color: #f83f6d;
    border-bottom: 1px solid #80808033;
}

.place-text-info {
    width: 100%;
}

.place-description {
    color: #a3cfff;
    margin: 1em 0 0;
    font-size: 1em;
}

.place-likes, .place-rating {
    margin-top: 0.9em;
    font-size: 1.1em;
    color: white;
}

.place-likes {
    float: left;
}

.place-rating {
    float: right;
}

.fa-thumbs-up {
    font-size: 1.2em;
    margin-left: 0.2em;
    color: #cee8ff;
}

.fa-star {
    color: #cbffe3;
    filter: brightness(140%);
}

.place-location, .place-url, .place-external-url, .place-contact, .place-hours-status {
    display: flex;
    font-size: 1.05em;
    margin: 1.5em 2em 1em;
}

.fa-map-marked-alt, .fa-globe-europe, .fa-foursquare, .fa-phone-volume, .fa-clock {
    margin-right: 20px;
    font-size: 1.2em;
}

.place-url a, .place-external-url a {
    text-decoration: none;
}

.place-url a {
    color: #4a7ed4;
}

.place-external-url a {
    color: #f83f6d;
}

.place-contact span, .place-hours-status span {
    color: #919191;
}

.place-photos {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.place-photos .title {
    width: 90%;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 20px;
}

.place-photos .source {
    width: 90%;
    color: #6e6e6e;
    font-size: 12px;
}

.powered-by-foursquare {
    text-align: right;
    font-size: 0.9em;
    color: #f94878;
    margin: 10px 6px 2px 10px;
}