* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/*Style of map element*/
#map {
    min-height: 100vh;
}

/*Style of info window*/
.info-window-title {
    font-size: 1.3em;
    line-height: 1.5em;
    margin-top: 4px;
    margin-bottom: 10px;
}

.info-window-category {
    font-size: 1em;
    vertical-align: super;
    font-weight: 800;
}

.place-icon {
    width: 20px;
    margin-right: 10px;
    margin-bottom: 15px;
}

/*Style of more info word inside the info window*/
.more-info {
    color: #4185f4;
    font-weight: 500;
}

.more-info:hover {
    cursor: pointer;
}

/*Style of close icon in info window to give it more margin*/
.gm-style-iw-c .gm-ui-hover-effect{
    margin-right: 5px !important;
    margin-top: 5px !important;
}

/*Style of favorite (heart) icon that appears in info window*/
span.like {
    flex-grow: 1;
    align-items: center;
    display: flex;
}

i.like {
    margin-left: 10px;
    font-size: 23px;
    float: right;
}

i.like:hover {
    cursor: pointer;
}

i.like-disabled {
    color: #bababa;
}

i.liked {
    color: #d90020;
}

/*Style of navigation drawer*/
.mdl-layout__drawer {
    width: 350px;
    max-width: 100vw;
    left: -250px;
    border-right: none;
    overflow: hidden;
}

@media only screen and (min-width: 1000px) {
    .mdl-layout__drawer {
        width: 400px;
    }
}

.mdl-layout__drawer.is-visible {
    left: 0;
}

.mdl-layout__header {
    background-color: #397af2;
}

.mdl-layout__obfuscator {
    visibility: hidden !important;
}

/*Style of search input field*/
.search {
    font-size: 1.1em;
    height: 50px;
    padding: 14px;
    border-width: 1px;
    border-radius: 4px;
    width: 80%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0 rgba(0,0,0,0.02);
    display: inline-block;
    margin: 15px 20px;
}

.search:focus {
    outline: none;
}

.search-holder {
    background-color: #397af2;
    display: flex;
    justify-content: center;
    align-items: baseline;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

/*Style of close icon in navigation drawer*/
.close-nav {
    margin: auto;
    background-color: transparent;
    color: white;
    font-size: 1.7em;
    vertical-align: middle;
    padding-right: 8px;
}

/*Style of item in list in navigation drawer*/
.place-entry {
    height: 50px;
    list-style-type: none;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    font-weight: 600;
    font-size: 1.0em;
    align-items: center;
    background: #0061ff0d;
    border-bottom: 1px solid #e6e6e6;
}

li:nth-child(even).place-entry {
    background: rgba(65, 133, 244, 0.03);
}

.place-entry:hover {
    cursor: pointer;
    background-color: #ffffff;
}

li:nth-child(even).place-entry:hover {
    cursor: pointer;
    background-color: #ffffff;
}

/*Style of place category icon in places list in navigation drawer*/
.place-entry .place-icon {
    margin-bottom: 0;
}

/*Style of the list of places in navigation drawer*/
.mdl-navigation {
    padding: 0 !important;
    overflow: visible;
    margin-top: 80px;
}

.places-list {
    padding: 0;
    margin: 0;
    overflow: auto;
    height: calc(100vh - 80px);
}

/*Style of place's details that appears above the list in navigation drawer*/
.place-details {
    width: 0;
    height: calc(100vh - 80px);
    display: flex;
    z-index: 1;
    transition: 0.01s;
    position: fixed;
    bottom: 0;
    background-color: white;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

/*Style of text info holder of place details in navigation drawer*/
.place-text-info {
    width: 100%;
}

/*Style of place basic info such that apears on the top of details in navigation drawer*/
.place-basic-info {
    background: #397af2;
    width: 100%;
    padding: 1px 28px 28px;
    display: inline-block;
    box-sizing: border-box;
    border-bottom: 1px solid #80808033;
}

/*Style of place title in place's details element'*/
.place-title {
    font-size: 1.35em;
    font-weight: 400;
    color: white;
    margin-bottom: 2px;

}

/*Style of extra info (contact, url, location ...) about details that apears under the basic info*/
.place-extra-info {
    box-sizing: border-box;
    border-bottom: 1px solid #80808033;
    width: 100%;
}

/*Style of the address of the place in navigation drawer inside the extra info*/
.place-address {
    margin-bottom: 0;
    font-size: .95em;
}

/*Style of the description of place in navigation drawer*/
.place-description {
    color: #a3cfff;
    margin: 1em 0 0;
    font-size: 1em;
}

/*Style of likes & rating elements in place details in navigation drawer*/
.place-likes, .place-rating {
    margin-top: 0.9em;
    font-size: 1.1em;
    color: white;
}

/*Style of likes element (icon & text)  in place details in navigation drawer*/
.place-likes {
    float: left;
}

/*Style of rating element (icon & text) in place details in navigation drawer*/
.place-rating {
    float: right;
}

/*Style of likes(thumbs-up) icon in place details in navigation drawer*/
.fa-thumbs-up {
    font-size: 1.2em;
    margin-left: 0.2em;
    color: #cee8ff;
}

/*Style of rating(stars) icon in place details in navigation drawer*/
.fa-star {
    color: #cbffe3;
    filter: brightness(140%);
}

/*Style of entries of extra info in place details in navigation drawer */
.place-location, .place-url, .place-external-url, .place-contact, .place-hours-status {
    display: flex;
    font-size: 1.05em;
    margin: 1.5em 2em 1em;
}

/*Style of awesome icon font used in navigation drawer such as globe, contact ...*/
.fa-map-marked-alt, .fa-globe-europe, .fa-foursquare, .fa-phone-volume, .fa-clock {
    margin-right: 20px;
    font-size: 1.2em;
}

/*Style of links inside urls that appear in place details in navigation drawer*/
.place-url a, .place-external-url a {
    text-decoration: none;
}

.place-url a {
    color: #4a7ed4;
}

.place-external-url a {
    color: #f83f6d;
}

/*Style of place conact info in place details in navigation drawer*/
.place-contact span, .place-hours-status span {
    color: #919191;
}

/*Style of place photos that appears under textual info in place details in navigation drawer*/
.place-photos {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.place-photos .title {
    width: 90%;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 20px;
}

.place-photos .source {
    width: 90%;
    color: #6e6e6e;
    font-size: 12px;
}

/*Style of powered by Foursquare source*/
.powered-by-foursquare {
    text-align: right;
    font-size: 0.9em;
    color: #f94878;
    margin: 10px 6px 2px 10px;
}

/*Style of the error cause by foursquare API*/
.place-details-foursquare-error {
    margin-top: 20px;
    font-size: 16px;
    padding: 17px;
    text-align: center;
    color: #f83f6d;
    border-bottom: 1px solid #80808033;
}

/*Style of place image inside place's details in navigation drawer'*/
.place-image {
    width: 90%;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 14px;
}

/*Style of errors caused by fliker API*/
.flickr-image-search-error, .flickr-no-images{
    margin-top: 20px;
    font-size: 16px;
    padding: 17px;
    text-align: center;
    color: gray;
    border-bottom: 1px solid #80808033;
}